.acerca_backgound {
    background-color: hsla(36, 45%, 89%, .039);
}

.acerca {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acerca_img {
    padding: 2rem;
}

.acerca_img img {
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .acerca {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem;
    }

}

@media (min-width: 992px) {
    .acerca_img {
        padding: 8rem;
    }
}