.seccion_backgound {
    background-color: hsla(36, 45%, 89%, .039);
}

.seccion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seccion_img {
    padding: 2rem;
}

.seccion_img img {
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .seccion {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
    .seccion_img {
        padding: 5rem;
    }

}

@media (min-width: 992px) {
    .seccion_img {
        padding: 9rem;
    }
}