.carousel {
    display: flex;
    align-items: center;
  }
  
  .previousButton,
  .nextButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: beige;
    /* background-color: aliceblue; */
    height: 100%;
    margin: 0;
  }

  .previousButton{
    padding: 20rem 2rem 20rem 1rem;
  }

  .nextButton{
    padding: 20rem 1rem 20rem 2rem;
  }

  @media (min-width: 768px) {
    .previousButton,
    .nextButton{
    padding: 20rem 1rem;

    }
  }

  @media (min-width: 992px) {
    .previousButton,
    .nextButton{
    padding: 20rem 5rem;

    }
  }
  
  .image {
    max-width: 100%;
    height: auto;
  }
  
