:root {
  --color-primario: #ffa600;
  --color-secundario: #e9e4dd;
  --fuente-principal: 'Open Sans', sans-serif;
  --fuente-secundaria: Century Gothic,sans-serif;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: var(--fuente-principal);
  line-height: 1.3;
  font-size: 16px;
  letter-spacing: 1.1px;
  background-color: rgba(0, 0, 0, 0.98);
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  width: 7px;
  background: rgba(0, 0, 0, 0.98);
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--color-primario);
}

a {
  text-decoration: none;
  font-size: 1.7rem;
  margin: 0;
  color: var(--color-secundario);
}

img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block;
  pointer-events: none !important;
}

h1,
h2,
h3{
  font-family: var(--fuente-principal);
}

h1 {
  color: var(--color-secundario);
  font-size: 3.5rem;
  text-align: center;
}

@media (min-width: 768px) {
  h1 {
    font-size: 6rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 7rem;
  }
}

h1,
h2 {
  text-transform: capitalize;
}

h2 {
  font-size: 2.8rem;
  text-align: left;
}

@media (min-width: 992px) {
  h2 {
    font-size: 3.1rem;
  }
}

.titulo h2 {
  font-weight: bold;
  color: var(--color-secundario);
  margin-bottom: 2.5rem;
}

.titulo h2 span {
  color: var(--color-primario);
  text-transform: capitalize;
}

h3 {
  color: var(--color-primario);
  font-size: 2.4rem;
  font-weight: 600;
  text-align: left;
  margin-bottom: 0;
}

p {
  font-size: 1.62rem;
  font-weight: 400;
}

.texto {
  color: var(--color-secundario);
  font-family: var(--fuente-secundaria);
}

.texto p {
  line-height: 135%;
}

@media (min-width: 768px) {
  .texto p {
    text-align: left;
  }
}

@media (min-width: 992px) {
  .texto p {
    line-height: 140%;
  }
}

.texto p span {
  font-weight: 400;
  color: var(--color-primario);
}

.font-size-big {
  font-size: 1.8rem;
  font-weight: 400;
}

.contenedor {
  width: 100%;
  max-width: 120rem;
  margin: 0rem auto;
}

@media (min-width: 768px) {
  .contenedor {
    padding: unset;
    width: 95%;
  }
}

@media (min-width: 992px) {
  .contenedor {
  margin: 0rem auto;
    width: 85%;
  }
}

.contenedor-small {
  width: 85%;
  margin: 0rem auto;
}

@media (min-width: 768px) {
  .contenedor-small {
    width: 80%;
    max-width: 185rem;
  }
}

@media (min-width: 992px) {
  .contenedor-small {
    width: 50%;
    max-width: 185rem;
  }
}

.contenedor-small-2 {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .contenedor-small-2 {
    max-width: 185rem;
  }
}

@media (min-width: 992px) {
  .contenedor-small-2 {
    width: 75%;
    max-width: 185rem;
  }
}

.display-flex-center {
  display: flex;
  justify-content: center;
}

.alinear-derecha {
  display: block;
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 992px) {
  .alinear-derecha {
    display: flex;
    justify-content: flex-start;
  }
}

.margin-0 {
  margin: 0;
}

.seccion{
  padding: 8rem 0;
}

@media (min-width: 992px) {
  .alinear-final {
    display: flex;
    justify-content: flex-end;
  }

  .seccion{
    padding: 7rem 0;
  }
}

.elemento-animado {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.9s, transform 0.9s;
}

.animado {
  opacity: 1;
  transform: translateY(0);
}

