.habilidades_background {
    padding: 5rem 0;
    /* background-color: hsla(35, 46%, 89%, 0.123); */
    background-color: hsla(36, 45%, 89%, .039);
}

.habilidades h2 {
    margin-bottom: 4rem;
}

.habilidades ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.habilidades li {
    position: relative;
    font-family: var(--fuente-principal);
    color: #e9e4dda8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid hsla(35, 46%, 89%, 0.284);
    border-radius: 1rem;
    width: 85px;
    height: 85px;
    transition: border-color .7s;
    margin: 0rem 1rem 1rem 0rem;
}

.habilidades li img {
    width: 3.3rem;
    height: auto;
    margin-bottom: 1rem;
    filter: contrast(0)
}

.habilidades li svg {
    width: 3.3rem;
    height: auto;
    margin-bottom: 1rem;
    filter: contrast(0)
}

.habilidades li p{
    position: absolute;
    font-size: 1.3rem;
    bottom: .8rem;
    margin: 0;
}
