.habilidades_background {
  /* background-color: hsla(36, 45%, 89%, .039); */
  background: rgb(25, 1, 41);
  background: linear-gradient(
    90deg,
    rgba(36, 1, 31, 0.8) 0%,
    rgba(17, 2, 37, 0.8) 100%
  );
}

.habilidades {
  text-align: left;
}

.habilidades h2 {
  margin-bottom: 0rem;
}

.habilidades ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: start;
  margin-top: 3rem;
}

.habilidades li {
  position: relative;
  font-family: var(--fuente-principal);
  color: #e9e4dda8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  transition: border-color 0.7s;
}

.habilidades li img {
  width: 2.5rem;
  height: auto;
  margin-bottom: 1.5rem;
  filter: contrast(0);
}

.habilidades li:last-of-type img {
  width: 2.9rem;
  height: auto;
}

.habilidades li p {
  font-size: var(--text-xs);
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

@media (min-width: 768px) {
  .habilidades {
    text-align: center;
  }

  .habilidades ul {
    margin: 0 auto;
    justify-content: center;
  }
}
