.menu {
  position: fixed;
  z-index: 100;
  padding: 1.6rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color .5s, box-shadow .5s, top .5s;
}

@media (min-width: 768px) {
  .menu {
    padding: 1.5rem 5rem 1rem 5rem;
  }
}

.navegacion {
  display: flex;
  align-items: center;
  flex-shrink: 1;
  min-width: 0;
}

.navegacion a {
  font-size: var(--text-sm);
  font-family: var(--fuente-principal);
  padding: 0.5rem;
  transition: color .5s;
  white-space: nowrap;
}

.navegacion a:hover,
.active {
  color: var(--color-primario);
}

@media (min-width: 360px) {
  .navegacion a {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .navegacion a {
    margin-right: 2rem;
    padding: unset;
  }
}

@media (min-width: 768px) {
  .navegacion a:last-of-type {
    margin-right: 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  .logo {
    padding: 0;
  }
}

.logo a {
  border: 4px solid hsla(35, 46%, 89%, 0.171);
  border-radius: 5rem;
  transition: border-color .5s;
}

@media (min-width: 768px) {
  .logo a {
    border: 5px solid hsla(35, 46%, 89%, 0.171);
  }
}

.logo a:hover {
  border-color: var(--color-primario);
}

.logo a img {
  width: 4.5rem;
  border-radius: 5rem;
}

@media (min-width: 768px) {
  .logo a img {
    padding: 0.2rem;
    width: 5.5rem;
  }
}