.proyectos_titulo h2 {
    color: var(--color-secundario);
    font-weight: 700;
    text-transform: uppercase;
    margin: 10rem 0 5rem 0;
    padding-left: 2rem;
}

.proyectos_titulo span {
    color: var(--color-primario);
    font-weight: 700;
}

.proyectos {
    padding: 0 1rem 8rem 1rem;
}

.proyecto {
    padding: 2.5rem;
    background-color: #f0e6d70e;
    border: .5px solid hsla(35, 46%, 89%, 0.384);
    margin-bottom: 3rem;
    border-radius: .5rem;
    box-shadow: 0px 2px 3px hsla(35, 46%, 89%, 0.384);
}

.proyecto h3 {
    font-size: 2.2rem;
    margin: 0;
}

.proyecto p:first-of-type {
    color: var(--color-primario);
    margin-top: 0;
}

.descripcioncorta {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.tecnologia {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    margin: 2rem 0;
}

.tecnologia li {
    margin-right: .6rem;
    color: hsla(35, 46%, 89%, 0.384);
    line-height: 1.4;
    font-size: 1.2rem;
    text-align: left;
}

.tecnologia li::after {
    content: ",";
}

.tecnologia li:last-of-type::after {
    content: "";
}

.proyecto_enlaces {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.proyecto_enlaces a {
    margin-right: 2rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.proyecto_enlaces a:first-of-type {
    font-family: var(--fuente-principal);
    font-size: 2rem;
}

.proyecto_enlaces a svg {
    padding: 0;
    width: 2rem;
}

.proyecto_enlaces a:hover {
    color: var(--color-primario);
    cursor: pointer;
    transform: translateY(-5px);
}

@media (min-width: 768px) {
    .proyectos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
        padding: 0 0rem 8rem 0rem;
    }

    .proyectos_titulo h2 {
        padding-left: 0rem;
    }

    .proyecto p {
        margin-bottom: 1rem;
    }

    .proyecto {
        border-radius: none;
        background-color: #f0e6d70e;
        background-color: hsla(36, 45%, 89%, .039);
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0rem 0rem 2.5rem 0rem;
        padding: 3rem;
        border: 1px solid hsla(35, 46%, 89%, 0.171);
    }

    .proyecto_enlaces {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-end;
        bottom: 3rem;
    }

}

@media (min-width: 992px) {
    .proyectos {
        grid-template-columns: repeat(3, 1fr);
    }

    .proyecto {
        padding: 3.5rem;
        box-shadow: none;
    }

    .proyecto_enlaces {
        bottom: 3.5rem;
    }
}

@keyframes moverArriba {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}