.seccion_backgound {
  background-color: hsla(35, 46%, 89%, 0.03);
}

.seccion_backgound_2 {
  background-color: hsla(36, 45%, 89%, 0.12);
}

.seccion,
.seccion_i {
  display: flex;
  align-items: center;
}

.seccion {
  flex-direction: column;
}

.seccion_i {
  flex-direction: column-reverse;
}

.seccion_img {
  padding: 4.5rem;
  margin-left: 3rem;
}

.seccion_img img {
  border-radius: 1rem;
}

.imagen_deforme img {
  border-radius: 68% 32% 62% 38% / 30% 64% 36% 70%;
  box-shadow: -35px -10px 1px #ffffff13;
}

.contenedor_texto p {
  font-size: var(--text-sm);
  line-height: 1.6;
  margin-bottom: 1.5rem;
}

.contenedor_texto p:last-child {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .seccion,
  .seccion_i {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .seccion_img {
    padding: 4rem;
    margin-left: 0rem;
  }
}

@media (min-width: 992px) {
  .seccion,
  .seccion_i {
    gap: 13rem;
  }

  .seccion_img {
    padding: 2rem;
  }
}

@media (min-width: 1280px) {
  .seccion_img {
    padding: 6rem;
  }
}

@media (min-width: 1920px) {
  .seccion_img {
    padding: 16rem;
  }
}
