.slider_background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    /* background-image: url(../../public/imagenes/projects/3.jpg); */
    background-position: left center;
    border-radius: .5rem;
}

.slider_background_guitar {
    background-image: url(../../public/imagenes/projects/guitar/fondo1.jpg);
}

.slider_background_crm {
    background-image: url(../../public/imagenes/projects/crm/fondo1.jpg);
}

.slider_background_pelis {
    background-image: url(../../public/imagenes/projects/pelis/fondo4.jpg);
    background-position: left bottom;

}

.slider_background_barber {
    background-image: url(../../public/imagenes/projects/barber/fondo2.jpg);
    background-position: left bottom;
}

.slider_background_criptos {
    background-image: url(../../public/imagenes/projects/criptos/a.jpg);
}

.slider_background_sombra {
    background-color: rgba(0, 0, 0, 0.58);
    /* background-color: hsla(36, 45%, 89%, .039); */
    height: 100%;
    width: 100%;
    padding: 7rem 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
}

.info {
    display: flex;
    flex-direction: column-reverse;
}

.slider_texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slider_texto h3 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--color-secundario);
    text-transform: capitalize;
}

.slider_texto p {
    color: #fff;
    margin-top: .2rem;
}

.slider_texto p {
    font-family: var(--fuente-principal);
}

.slider_img a {
    position: relative;
}

.slider_img a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000033;
    border-radius: .5rem;
}

.slider_img {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    margin-bottom: 2rem;
    width: 100%;
    height: 100%;
}

.slider_img img {
    border-radius: .5rem;
}

.descripcioncorta {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.slider_tecnologias .tecnologia {
    display: flex;
    align-items: flex-end;
    -webkit-box-flex: 1;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}

.slider_tecnologias .tecnologia li {
    margin-right: .6rem;
    color: hsl(0, 0%, 100%);
    line-height: 1.2;
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: .5rem;
    border-radius: .5rem;
    font-family: var(--fuente-principal);
}


.slider_enlaces {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1rem;
}

.slider_enlaces a {
    margin-right: 1.5rem;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.slider_enlaces a:first-of-type {
    font-weight: 700;
    font-size: 2rem;
    font-family: var(--fuente-principal);
}

.slider_enlaces a:last-of-type {
    margin-right: 0rem;
}

.slider_enlaces a svg {
    padding: 0;
    width: 2.3rem;
}

.slider_enlaces a:hover {
    color: var(--color-primario);
    cursor: pointer;
    transform: translateY(-5px);
}

@media (min-width: 768px) {
    .slider_background_sombra {
        padding: 10rem 4rem;
    }

    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 4rem;
        padding: 0rem;
    }
    
    .slider_texto h3 {
        font-size: 2.1rem;
    }

    .descripcioncorta {
        -webkit-line-clamp: 2;
    }

}

@media (min-width: 992px) {
    .slider_background_sombra {
        padding: 10rem 4rem;
    }
    .info {
        gap: 5rem;
    }
    
    .slider_texto h3 {
        font-size: 2.5rem;
    }

    .slider_enlaces {
        justify-content: flex-start;
    }
}